<h1>Display your Pirate here:</h1>
  <ul>
  <li> Pirate Name: <%= @pirate.name %> </li>
  <li> Pirate Weight: <%= @pirate.weight %> </li>
  <li> Pirate Height: <%= @pirate.height %> </li>
  </ul>
<h1>Display your ship(s) here</h1>
<% @pirate.ships.each_with_index do |ship, i| %>
  <h2>Ship #: <%= i + 1 %>.</h2>
  <ul>
  <li> Ship Name: <%= ship.name %> </li>
  <li> Ship Type: <%= ship.type %> </li>
  <li> Ship Booty: <%= ship.booty %> </li>
<%end%>
  </ul>
